{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
#!/bin/bash

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install unattended-upgrades -y

{{ $sudo }}systemctl start unattended-upgrades
{{ $sudo }}systemctl enable unattended-upgrades

{{ end -}}
