{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
#!/bin/bash

{{ $bat := "" -}}
{{ if lookPath "bat" -}}
{{ $bat = "bat" -}}
{{ else if lookPath "batcat" -}}
{{ $bat = "batcat" -}}
{{ end -}}

mkdir -p "$({{ $bat }} --config-dir)/themes"

wget -q -P "$({{ $bat }} --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Latte.tmTheme
wget -q -P "$({{ $bat }} --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Frappe.tmTheme
wget -q -P "$({{ $bat }} --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme
wget -q -P "$({{ $bat }} --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme

{{ $bat }} cache --build
{{ end }}
