{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}

{{ $packages := list
      "bat"
      "curl"
      "eza"
      "git"
      "htop"
      "fzf"
      "jq"
      "neofetch"
      "neovim"
      "openssh-server"
      "pwgen"
      "resticprofile"
      "ripgrep"
      "trash-cli"
      "tree"
      "tmux"
      "wget"
      "zsh" -}}

{{ if and (eq .chezmoi.arch "amd64") (eq .chezmoi.osRelease.id "debian") -}}
{{ $packages = concat $packages (list "lsd") -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# Install repository for resticprofile and other utilities
{{ $sudo }}curl -sSL https://raw.githubusercontent.com/upciti/wakemeops/main/assets/install_repository | {{ $sudo }}bash -s devops secops terminal

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ end -}}
