#!/bin/bash

set -eufo pipefail

{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}

{{ $packages := list
      "bat"
      "curl"
      "dnsutils"
      "eza"
      "git"
      "htop"
      "fzf"
      "jq"
      "neovim"
      "openssh-server"
      "progress"
      "pwgen"
      "ripgrep"
      "trash-cli"
      "tree"
      "tmux"
      "wget"
      "zoxide"
      "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

# Install repository for resticprofile and other cli utilities
# {{ if not (stat (joinPath "/etc/apt/sources.list.d" "wakemeops.list")) -}}
# {{ $sudo }}curl -sSL https://raw.githubusercontent.com/upciti/wakemeops/main/assets/install_repository | {{ $sudo }}bash -s devops secops terminal
# {{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ end -}}
